{% extends 'base.html' %}
{% block title %}
    找不到網頁喔~!!_(:3 」∠ )_
{% endblock %}
  
{% block content %}
    {% if error %}
        <h1>沒有你要的網頁啦(┛`д´)┛</h1>
        <p>{{ error }}</p>
    {% endif %}
        <a href={{ url_for('index') }}><button>Index</button></a>
{% endblock %}