{% extends 'base.html' %}

{% block title %}
    template value
{% endblock %}

{% block content %}
    <h1>Hello</h1>
    <form action={{ url_for('login') }} method="POST">
        <fieldset>
            <legend>Login</legend>
            <label>Username: </label>
            <input type="text" name="username" /><br />
            <label>Password: </label>
            <input type="password" name="password" /><br />
            <input type="submit" value="Login" />
        </fieldset>
    </form>
{% endblock %}